flows/flows_maurosil.merda
[{"type":"tab","id":"adc17e5e.523e8","label":"Flow 1"},{"id":"a5e3be73.5a1c4","type":"debug","z":"adc17e5e.523e8","name":"","active":true,"console":"false","complete":"false","x":637.5,"y":72,"wires":[]},{"id":"9e8752ca.6178b","type":"inject","z":"adc17e5e.523e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109.5,"y":58,"wires":[["f7d0c68a.082f38"]]},{"id":"f7d0c68a.082f38","type":"function","z":"adc17e5e.523e8","name":"Process Email Content","func":"var msg1 = {payload: {}};\nvar msg2 = {payload: {}};\nvar msg3 = {payload: {}};\n\nmsg1.payload.iprs = ['8.8.8.8', '1.2.3.4'];\nmsg2.payload.urls = ['facebook.com'];\nmsg3.payload.vulnerabilities = ['99513'];\n\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":200.5,"y":200,"wires":[["1acf22c9.e530dd"],["786aeaac.879514"],["b8b932f3.4746d"]]},{"id":"18c3bb90.e73c44","type":"debug","z":"adc17e5e.523e8","name":"","active":true,"console":"false","complete":"false","x":632,"y":220,"wires":[]},{"id":"2ca04349.d35fbc","type":"debug","z":"adc17e5e.523e8","name":"","active":true,"console":"false","complete":"false","x":648,"y":342,"wires":[]},{"id":"1acf22c9.e530dd","type":"xfeIn","z":"adc17e5e.523e8","server":"localhost","port":"3000","options":"iprs","name":"IPRs","x":426.5,"y":72,"wires":[["a5e3be73.5a1c4"]]},{"id":"786aeaac.879514","type":"xfeIn","z":"adc17e5e.523e8","server":"localhost","port":"3000","options":"urls","name":"URLs","x":421.5,"y":220,"wires":[["18c3bb90.e73c44"]]},{"id":"b8b932f3.4746d","type":"xfeIn","z":"adc17e5e.523e8","server":"localhost","port":"3000","options":"vulnerabilities","name":"vulnerabilities","x":419.5,"y":344,"wires":[["2ca04349.d35fbc"]]}]