flows/flows_maurosil.json
[{"type":"tab","id":"adc17e5e.523e8","label":"Flow 1"},{"type":"tab","id":"4b768a2e.b48974","label":"Flow 2"},{"type":"tab","id":"b607b4b.f49f848","label":"Flow 3"},{"id":"a5e3be73.5a1c4","type":"debug","z":"adc17e5e.523e8","name":"","active":true,"console":"false","complete":"false","x":637.5,"y":72,"wires":[]},{"id":"9e8752ca.6178b","type":"inject","z":"adc17e5e.523e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109.5,"y":58,"wires":[["f7d0c68a.082f38"]]},{"id":"f7d0c68a.082f38","type":"function","z":"adc17e5e.523e8","name":"Process Email Content","func":"var msg1 = {payload: {}};\nvar msg2 = {payload: {}};\nvar msg3 = {payload: {}};\n\nmsg1.payload.iprs = ['8.8.8.8', '1.2.3.4'];\nmsg2.payload.urls = ['facebook.com'];\nmsg3.payload.vulnerabilities = ['99513'];\n\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":200.5,"y":200,"wires":[["1acf22c9.e530dd"],["786aeaac.879514"],["b8b932f3.4746d"]]},{"id":"18c3bb90.e73c44","type":"debug","z":"adc17e5e.523e8","name":"","active":true,"console":"false","complete":"false","x":632,"y":220,"wires":[]},{"id":"2ca04349.d35fbc","type":"debug","z":"adc17e5e.523e8","name":"","active":true,"console":"false","complete":"false","x":648,"y":342,"wires":[]},{"id":"1acf22c9.e530dd","type":"xfeIn","z":"adc17e5e.523e8","server":"api.xforce.ibmcloud.com","port":"443","options":"iprs","name":"IPRs","x":426.5,"y":72,"wires":[["a5e3be73.5a1c4"]]},{"id":"786aeaac.879514","type":"xfeIn","z":"adc17e5e.523e8","server":"api.xforce.ibmcloud.com","port":"443","options":"urls","name":"URLs","x":421.5,"y":220,"wires":[["18c3bb90.e73c44"]]},{"id":"b8b932f3.4746d","type":"xfeIn","z":"adc17e5e.523e8","server":"api.xforce.ibmcloud.com","port":"443","options":"vulnerabilities","name":"vulnerabilities","x":419.5,"y":344,"wires":[["2ca04349.d35fbc"]]},{"id":"3de89178.c2176e","type":"xfeOut","z":"4b768a2e.b48974","server":"api.xforce.ibmcloud.com","port":"443","options":"casefiles","name":"CreateCasefile","x":581.5,"y":205,"wires":[]},{"id":"1083253d.ef7cdb","type":"function","z":"4b768a2e.b48974","name":"EmailParser","func":"//console.log('MAURO MSG: ', JSON.stringify(msg));\n// console.log('MAURO topic: ', msg.topic);\n// console.log('MAURO from: ', msg.from);\n// console.log('MAURO html: ', msg.html);\n//console.log('MAURO payload: ', msg.payload.replace(/ /g, '&nbsp;').replace(/\\r\\n/g, '<br>') );\n//console.log('MAURO HEADER: ', msg.header);\nvar cveVulRegExp = /^(CVE-\\d{4}-\\d{4}\\d*)\\b/i;\nvar md5RegEx = /\\b([a-f0-9]{32})\\b/i;\n\nvar casefile = {};\n\ncasefile.title = msg.topic;\ncasefile.contents = {};\ncasefile.contents.wiki = \"<p>\" + msg.payload.replace(/ /g, '&nbsp;').replace(/\\r\\n/g, '<br>') + \"</p>\";\n\ncasefile.contents.reportkeys = [];\n\nvar tokens = msg.payload.split(/\\s+/);\ntokens.forEach(function(token) {\n    var tokenRegExp = /^\\W*(.*)$/;\n    var match = token.match(tokenRegExp);\n    if (match) {\n      token = match[1];\n    }\n\n    // Possibly an IP\n    var ipRegExp = /^([x0-9.:a-f]{9,})[\\s\"\\[\\]\\(\\)\\{\\}]*$/i;\n    match = token.match(ipRegExp);\n    if(token.match(md5RegEx)) {\n        var tmpMD5 = {type: \"MAL\", value: \"MD5:\" + token, \"wanted\": true};\n        casefile.contents.reportkeys.push(tmpMD5);\n    } else if (match) {\n      token = match[1];\n      var tmpIPr = {type:\"IP\", value: token,\"wanted\":true};\n      casefile.contents.reportkeys.push(tmpIPr);\n    } else if(token.length >= 13 && cveVulRegExp.test(token)) {\n        var tmpCVE = {type: \"VUL\", value: token, \"wanted\": true};\n        casefile.contents.reportkeys.push(tmpCVE);\n    } else if(token.indexOf('http') === 0 ) {\n        var tmpURL = {type:\"URL\", value: token,\"wanted\":true};\n        casefile.contents.reportkeys.push(tmpURL);\n    }\n});\n\nmsg.payload = casefile;\n//console.log('MAURO msg: ', JSON.stringify(msg.payload) );\nreturn msg;","outputs":1,"noerr":0,"x":354.5,"y":204,"wires":[["3de89178.c2176e"]]},{"id":"b1bcdcba.4e432","type":"e-mail in","z":"4b768a2e.b48974","name":"Email","server":"imap.gmail.com","port":"993","box":"INBOX","repeat":"30","x":151.5,"y":109,"wires":[["1083253d.ef7cdb"]]},{"id":"764325d5.89bcdc","type":"QRadar","z":"b607b4b.f49f848","server":"9.98.16.120","port":6443,"options":"offenses","name":"QRadar","x":305.5,"y":180,"wires":[["bed98de7.41267"]]},{"id":"9710b68d.68ef48","type":"inject","z":"b607b4b.f49f848","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125,"y":98,"wires":[["764325d5.89bcdc"]]},{"id":"bed98de7.41267","type":"debug","z":"b607b4b.f49f848","name":"","active":true,"console":"false","complete":"false","x":497.5,"y":116,"wires":[]}]